*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10vh;
    background-color: #3f51b5;
}

#headerContainer{
    width: 90vw;
    height: inherit;
    /* background: #1ff; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerMenu{
    height: 10vh;
    width: 10vw;
    background-color: indigo;
}

#headerMenu img{
    width: 8vw;
    height: 8vh;
}